*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

.page-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  overflow-clip-margin: unset;
}

button {
  font-family: "DM Sans", sans-serif;
  background-color: #901c1c;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #db8876;
  color: #000000;
}

.lightbox {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 87vw;
  height: 96vh;
  background: #ffffff;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border: 2px solid #95fff9;
}
.lightbox__content {
  display: flex;
  padding: 20px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.lightbox__media_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding: 20px;
  flex: 1;
}
.lightbox__media {
  background-color: #c4c4c4;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  min-width: 70vw;
  overflow: hidden;
}
.lightbox__image {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.lightbox__video {
  height: 100%;
  width: 100%;
}
.lightbox__text {
  width: 100%;
  align-content: start;
  color: #901c1c;
}
.lightbox__close, .lightbox__prev, .lightbox__next {
  padding: 10px;
  font-size: 72px;
  color: #901c1c;
  background-color: transparent;
}
.lightbox__close:hover, .lightbox__close:focus, .lightbox__prev:hover, .lightbox__prev:focus, .lightbox__next:hover, .lightbox__next:focus {
  background-color: transparent;
  color: #901c1c;
}
.lightbox__close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.media-card {
  margin-bottom: 30px;
}
.media-card__link {
  width: 350px;
  height: 300px;
}
.media-card__media {
  display: block;
  width: 350px;
  height: 300px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #c4c4c4;
}
.media-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
  width: 350px;
  max-width: 100%;
}
.media-card__title {
  color: #901c1c;
  font-size: 24px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.media-card__likes {
  white-space: nowrap;
  color: #901c1c;
  font-size: 24px;
  font-weight: 500;
}
.media-card__like-button, .media-card__like-button:hover, .media-card__like-button:focus {
  background-color: #ffffff;
  color: #901c1c;
}
.media-card__like-button[data-liked=true] {
  color: #d3573c;
}

.contact-modal {
  z-index: 2;
  display: None;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #db8876;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 669px;
  height: 900px;
  padding: 16px 35px;
}
.contact-modal__content {
  width: 100%;
}
.contact-modal__title-and-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-modal__close {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  padding: 0;
  font-size: 55px;
  color: #ffffff;
  background: none;
  border: none;
}
.contact-modal__close:hover, .contact-modal__close:focus {
  background: none;
  color: #ffffff;
}
.contact-modal__title, .contact-modal__photograph-name {
  margin: 0;
  font-size: 64px;
  font-weight: 400;
}
.contact-modal__photograph-name {
  transform: translateY(-10px);
}

.contact-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 7px;
}
.contact-form__field {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}
.contact-form__field:has(textarea) {
  margin-top: 10px;
}
.contact-form__label {
  color: #312e2e;
  font-size: 36px;
}
.contact-form__input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 39px;
  padding: 10px;
}
.contact-form .contact-form__textarea {
  resize: none;
  height: 170px;
  width: 100%;
  overflow-y: auto;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 39px;
  padding: 10px;
}
.contact-form__button {
  height: 69px;
  width: 170px;
  margin-top: 25px;
  font-size: 18px;
  font-weight: 700;
}
.contact-form__button:hover, .contact-form__button:focus {
  background-color: #901c1c;
  color: #ffffff;
}

.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(196, 196, 196, 0.4);
  z-index: 1;
  display: none;
}

.photographerIdCard {
  overflow: visible;
  width: 200px;
}
.photographerIdCard__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographerIdCard__idPhoto {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 30px;
}
.photographerIdCard__name {
  color: #d3573c;
  font-size: 36px;
  text-align: center;
  width: -moz-max-content;
  width: max-content;
}
.photographerIdCard__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographerIdCard__location {
  color: #901c1c;
  font-size: 13px;
  width: -moz-max-content;
  width: max-content;
}
.photographerIdCard__tagline {
  font-size: 10px;
  width: -moz-max-content;
  width: max-content;
}
.photographerIdCard__price {
  color: #757575;
  font-size: 9px;
  width: -moz-max-content;
  width: max-content;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding-top: 35px;
}
.header__logo {
  height: 50px;
}
.header__title {
  color: #901c1c;
  font-size: 36px;
}

.likes-price-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  right: 35px;
  background-color: #db8876;
  color: black;
  border-radius: 5px 5px 0 0;
  height: 67px;
  width: 376px;
  font-size: 24px;
  font-weight: 500;
}
.likes-price-section__price, .likes-price-section__total-likes {
  width: 50%;
  text-align: center;
}

.photographers_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.photographers_section > :nth-child(3n+1) {
  justify-self: start;
}
.photographers_section > :nth-child(3n+2) {
  justify-self: center;
}
.photographers_section > :nth-child(3n) {
  justify-self: end;
}

.photograph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  margin-top: 35px;
  border-radius: 5px;
  max-width: 1240px;
  height: 313px;
  padding: 0 47px;
}
.photograph-header__idPhoto {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.photograph-header__profil {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 25px;
}
.photograph-header__name {
  color: #d3573c;
  font-size: 64px;
  margin-top: 10px;
}
.photograph-header__location {
  color: #901c1c;
  font-size: 24px;
  margin-bottom: 20px;
}
.photograph-header__tagline {
  font-size: 18px;
}
.photograph-header__contact_button {
  width: 170px;
  height: 69px;
}

.media-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.media-section > :nth-child(3n+1) {
  justify-self: start;
}
.media-section > :nth-child(3n+2) {
  justify-self: center;
}
.media-section > :nth-child(3n) {
  justify-self: end;
}