@use "../base/variables" as *;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding-top: 35px;

  &__logo {
    height: 50px;
  }

  &__title {
    color: $primary-color;
    font-size: 36px;
  }
}
