@use "../base/variables" as *;

button {
  font-family: "DM Sans", sans-serif;
  background-color: $primary-color;
  color: $white;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: $tertiary-color;
  color: $black;
}
