@use "../base/variables" as *;

.lightbox {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 87vw;
  height: 96vh;
  background: $white;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: $z-index-modal;
  border: 2px solid $light-box-border-color;

  &__content {
    display: flex;
    padding: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &__media_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    padding: 20px;
    flex: 1;
  }

  &__media {
    background-color: $light-gray-2;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    min-width: 70vw;
    overflow: hidden;
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  &__video {
    height: 100%;
    width: 100%;
  }

  &__text {
    width: 100%;
    align-content: start;
    color: $primary-color;
  }

  &__close,
  &__prev,
  &__next {
    padding: 10px;
    font-size: 72px;
    color: $primary-color;
    background-color: transparent;
    &:hover,
    &:focus {
      background-color: transparent;
      color: $secondary-color;
    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
