@use "../base/variables" as *;
.media-card {
  $card-width: 350px;
  $media-height: 300px;
  margin-bottom: 30px;
  position: relative;

  &__link {
    position: absolute;
    width: $card-width;
    height: $media-height;
    z-index: $z-index-overlay;
  }

  &__media {
    display: block;
    width: $card-width;
    height: $media-height;
    border-radius: 5px;
    object-fit: cover;
    background-color: $light-gray-2;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
    width: $card-width;
    max-width: 100%;
  }
  &__title {
    color: $primary-color;
    font-size: 24px;
    font-weight: 400;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__likes {
    white-space: nowrap;
    color: $primary-color;
    font-size: 24px;
    font-weight: 500;
  }
  &__like-button,
  &__like-button:hover,
  &__like-button:focus {
    background-color: $white;
    color: $primary-color;
  }

  &__like-button[data-liked="true"] {
    color: $secondary-color;
  }
}
