@use "../base/variables" as *;

.modal {
  z-index: $modal-z-index;

  display: None;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border-radius: 5px;
  background-color: $tertiary-color;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 669px;
  height: 900px;
  padding: 16px 35px;

  &__content {
    width: 100%;
  }

  &__title-and-close {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__close {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 42px;
    height: 42px;
    padding: 0;

    font-size: 55px;
    color: $white;

    background: none;
    border: none;

    &:hover,
    &:focus {
      background: none;
      color: $white;
    }
  }

  &__title,
  &__photograph-name {
    margin: 0;
    font-size: 64px;
    font-weight: 400;
  }

  &__photograph-name {
    transform: translateY(-10px);
  }
}

.contact-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 7px;

  &__field {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
  }

  &__field:has(textarea) {
    margin-top: 10px;
  }

  &__label {
    color: #312e2e;
    font-size: 36px;
  }

  &__input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 39px;
    padding: 10px;
  }

  .contact-form__textarea {
    resize: none;
    height: 170px;
    width: 100%;
    overflow-y: auto;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 39px;
    padding: 10px;
  }

  &__button {
    height: 69px;
    width: 170px;
    margin-top: 25px;
    font-size: 18px;
    font-weight: 700;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($light-gray-2, 0.4);
  z-index: $modal-overlay-z-index;
  display: none;
}
