*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

.page-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  overflow-clip-margin: unset; // remove pixelation of images on chrome
}
