*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

.page-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}

a {
  text-decoration: none;
  color: inherit;
}

// object-fit:cover can makes the image pixelated on chrome
// https://issues.chromium.org/issues/40230839
// can be removed with trick :

// img {
//   overflow-clip-margin: unset; /* fix pixelation in Chrome */
// }

// but does not pass CSS validation :/
