$primary-color: #901c1c;
$secondary-color: #d3573c;
$tertiary-color: #db8876;

$dark-gray: #525252;
$medium-gray: #757575;
$light-gray: #fafafa;
$light-gray-2: #c4c4c4;

$white: #ffffff;
$black: #000000;
